---
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Navigation from "../components/Navigation.astro";
import { data } from "../lib";

const { generator, site } = Astro;

const image = new URL("/assets/og.png", site);
---

<html lang="en">
  <head>
    <link
      href="/favicon/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="/favicon/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/favicon/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta charset="utf-8" />
    <meta name="description" content={data.description} />
    <meta name="generator" content={generator} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:description" content={data.description} />
    <meta property="og:image" content={image} />
    <meta property="og:title" content={data.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={site} />
    <title>{data.title}</title>
  </head>
  <Body>
    <Navigation />
    <Main>
      <slot />
    </Main>
    <Footer />
  </Body>


</html>
